@import url('http://fonts.cdnfonts.com/css/8bit-wonder');
body{
    font-family:'8BIT WONDER', sans-serif ;
    background-color: rgb(208, 170, 219);
}
button{
    background-color: transparent;
    border: none;
height: 100px;
width: 100px;
}
.takeme{
    font-family: '8BIT WONDER', sans-serif;
}
.restart{
    width: 160
    px;
    height: 36px;
    font-size: 11px;
    font-family:'8BIT WONDER', sans-serif ;
}

        
        

